# fly.toml app configuration file generated for blogdeploydhkddltd37 on 2024-02-13T18:17:02+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blogdeploydhkddltd37'
primary_region = 'nrt'

[build]
  image = "dhkdtld37/push-docker-hub:0.4.3"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
